---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Responsable Digital</h2>
		<p>J'administre et j'optimise l'espace de travail collaboratif Slack et la suite logicielle Odoo, 
			je réalise les campagnes d'emailing pour assurer la communication interne et externe, 
			je mets en place et je gère les envois WhatsApp Bulk à destination des clients et partenaires et pour finir, 
			je coordonne les équipes marketing et design pour la conception et la publication de visuels attrayants.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Responsable IT</h2>
		<p>En tant que Responsable IT, je suis chargé de l'installation et de la configuration du parc informatique, 
			incluant matériel et logiciels, de la mise en place des systèmes de sécurité (biométrie, alarmes, vidéosurveillance), 
			de l'assistance aux utilisateurs et de l'administration du réseau. Je veille à la fiabilité et à la sécurité des systèmes
			 informatiques pour l'ensemble des collaborateurs.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Web developer</h2>
		<p>En tant que Web Developer, je conçois et développe des sites web sur mesure pour répondre aux besoins spécifiques de mes clients, 
			principalement sur WordPress. Je m'occupe de la maintenance et de l'entretien des sites, y compris la création des visuels et bannières pour les sites web. 
			 Je collabore étroitement avec l'équipe de développement pour la mise en production.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
